.feed-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 10px;
    will-change: transform;
    background-color: var(--feed-item-background-color-default);
    font-size: 0.9rem;
    user-select: none;

    border-width: 2px 1px 1px 2px;
    border-style: solid;

    border-top-color: var(--feed-item-highlight-color);
    border-left-color: var(--feed-item-highlight-color);
    border-bottom-color: var(--feed-item-shadow-color);
    border-right-color: var(--feed-item-shadow-color);

    img {
        width: 16px;
        height: 16px;
    }

    .feed-item-option:hover {
        background-color: rgb(200, 200, 200);
    }
}

.feed-item:hover {
    cursor: pointer;
    text-decoration: underline;

    .feed-item-options-container {
        opacity: 1;
        pointer-events: auto;
    }
}

.feed-item.read {
    border-top-color: transparent;
    border-left-color: transparent;

    background-color: var(--feed-item-background-color-read);

    background-image: repeating-linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.076) 0 10px,
        transparent 10px 20px
    );

    div {
        font-weight: normal;
    }

    .feed-item-option:hover {
        background-color: rgb(227, 227, 227);
    }
}

.feed-item.selected {
    border-width: 2px 2px 2px 2px;
    background-color: var(--feed-item-background-color-selected);
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-color: rgb(50, 117, 142);
    border-left-color: rgb(50, 117, 142);
    border-bottom-color: rgb(50, 117, 142);
    border-right-color: rgb(50, 117, 142);

    div {
        font-weight: 500;
    }

    .feed-item-options-container {
        opacity: 1;
        pointer-events: auto;
    }

    .feed-item-option:hover {
        background-color: rgba(147, 147, 147, 0.379);
    }
}

.feed-item.selected:hover {
    background-color: var(--feed-item-background-color-selected);
}

.feed-item-title {
    font-weight: bold;
    padding: 10px 10px;
}

.feed-item-options-container {
    display: flex;
    flex-direction: row;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: transparent;
}

.feed-item-options-container.selected {
    opacity: 1;
    pointer-events: auto;
    background-color: rgb(230, 230, 230);
    border-color: rgb(143, 143, 143);
}

.feed-item-options-container.visible {
    opacity: 1;
    pointer-events: auto;
}

.feed-item-option {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    align-content: center;
    padding: 0 8px;
}

.feed-item-option.selected {
    background-color: rgb(223, 223, 223);
}
