.feed-date-header {
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
    user-select: none;

    padding: 5px 10px;
    /* background-color: rgb(232, 232, 232); */
    /* background-color: rgb(87, 87, 87); */
    /* color: rgb(220, 220, 220); */
    color: rgb(255, 255, 255);
    text-shadow:  2px 2px 1px rgb(82, 82, 82);
    /* border-bottom: 1px solid rgb(152, 152, 152); */
    margin: 0;

    border-top: 1px solid rgb(215, 215, 215);
    border-left: 1px solid rgb(215, 215, 215);
    border-bottom: 1px solid rgb(43, 43, 43);
    border-right: 1px solid rgb(43, 43, 43);

    background-color: rgb(125, 125, 125);
/* background: #595959; */
/* background: linear-gradient(90deg, rgb(85, 85, 85) 0%, rgb(122, 122, 122) 100%); */
}

.feed-list {
    list-style: none;
    margin: 0;
    padding: 0px 0px;
}