.feed-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px 0px 0px 10px;
    background-color: var(--feed-item-background-color-default);
    font-size: 0.9rem;
    user-select: none;

    border-top: 2px solid var(--feed-item-highlight-color);
    border-left: 2px solid var(--feed-item-highlight-color);

    border-bottom: 1px solid var(--feed-item-shadow-color);
    border-right: 1px solid var(--feed-item-shadow-color);


    img {
        width: 16px;
        height: 16px;
    }

    .feed-item-option:hover {
        background-color: rgb(200, 200, 200);
    }
}

.feed-item:hover {
    cursor: pointer;
    text-decoration: underline;

    .feed-item-options-container {
        visibility: visible;
    }
}

.feed-item.read {
    border-top: none;
    border-left: none;
    background-color: var(--feed-item-background-color-read);

    span {
        font-weight: normal;
    }

    .feed-item-option:hover {
        background-color: rgb(231, 231, 231);
    }
}


.feed-item.selected {
    background-color: var(--feed-item-background-color-selected);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-top: none;
    border-left: none;
    border: 2px solid rgb(221, 194, 45);

    .feed-item-options-container {
        visibility: visible;
    }

    .feed-items-more-options-container:hover {
        background-color: rgb(200, 200, 200);
    }
}

.feed-item.selected:hover {
    background-color: var(--feed-item-background-color-selected);
}

.feed-item-title {
    margin: 0 0 0 10px;
    font-weight: bold;
    padding: 10px 5px;
}

.feed-item-options-container {
    display: flex;
    flex-direction: row;
    visibility: hidden;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.feed-item-option {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    align-content: center;
    padding: 0 10px 0 10px;
}

.feed-item-option.selected {
    background-color: rgba(230, 230, 230, 0.592);
}

.feed-item-options-container.selected {
    visibility: visible;
    background-color: rgba(230, 230, 230, 0.592);
    border-right: 1px solid rgb(123, 123, 123);
    border-left: 1px solid rgb(123, 123, 123);
}

.feed-item-options-container.visible {
    visibility: visible;
}