.remove-sub-modal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--background-default-color);
}

.remove-sub-modal-buttons {
    display: flex;
    flex-direction: row;
    align-self: end;
    margin: 5px 0px;
    gap: 5px;

    > button {
        padding: 5px;
    }
}