.client-area {
    height        : 100%;
    display       : flex;
    flex-direction: column;
    /* padding: 0px 5px; */
}

.toolbar {
    background-color: rgb(212, 212, 212);
    border-bottom: 1px solid black;
    /* margin-bottom: 5px; */
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
}

.toolbar-button {
    padding: 5px 10px;
    cursor: pointer;
}

.add-subscription-modal {
    background-color: white;
    position: relative;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.status-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(208, 208, 208);
    border-top: 1px solid black;
    padding: 5px 5px;
    font-size: small;

    > button {
        font-size: x-small;
    }
}

.panel-left {
    /* padding: 0px 10px; */
    /* padding-right: 5px; */
    padding: 0px 5px;
    container-type: inline-size;
}

.panel-middle {
    display:flex;
    flex-direction: column;
    height: 100%;

    > h3 {
        text-align: center;
        padding: 10px;
        margin: 0px;
        background-color: rgb(214, 214, 214);
        border-bottom: solid black 1px;
    }
}

.panel-right {
    height: 100%;
}

.web-preview {
    height: 100%;
}

.panel-resizer-handle {
    width: 10px;
    background-color: yellow;
}

.panel-resizer-handle-vertical {
    height: 10px;
    background-color: yellow;
}

.feed-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 50px;
    font-size: larger;
    padding: 10px 10px;
    gap: 0.5rem;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(139, 139, 139);
    user-select: none;

    white-space: nowrap;
    overflow: hidden;

    > img {
        width: 32px;
        height: 32px;
    }
}

.main-options-list {
    list-style: none;
    margin: 5px 0px;
    padding: 0px;
    user-select: none;
}

.main-options-list-item {
    padding: 3px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-options-list-item:hover {
    background-color: rgb(221, 221, 221);
}

.main-options-list-item.selected {
    background-color: rgb(221, 221, 221);
}



.constrained-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    user-select: none;
}

.subscriptions-header {
    /* font-size: large; */
    /* border-top: 1px dashed black; */
    font-weight: bold;
    border-bottom: 1px solid black;
    margin: 20px 0 5px 0;
    padding: 5px 0px;

}

.subscription-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.subscription-list-item {
    display: flex;
    flex-direction: row;
    gap : 10px;
    border-bottom: 1px solid rgb(205, 205, 205);
    /* padding: 5px 10px; */
    padding: 3px;
    /* margin: 0px 5px; */
    margin: 0px;
    cursor: pointer;
    user-select: none;

    > img {
        width: 16px;
        height: 16px;
    }
}

.subscription-list-item.selected {
    background-color: rgba(0, 0, 0, 0.138);
}

.subscription-list-item:hover {
    background-color: rgba(0, 0, 0, 0.138);
}

.expandable-group {
    /* margin: 0 0 0 10px; */
    padding: 0 0 0 5px;
    /* background-color: red; */
    /* flex: 1; */
}

.expandable-group-header {
    /* border-bottom: 1px solid black; */
    width: 100%;
    /* border: 1px dashed gray; */
    background-color: rgba(195, 195, 195, 0.623);
    padding: 5px;
    display        : flex;
    flex-direction : row;
    /* border         : 1px solid black; */
    justify-content: space-between;
    align-items    : center;
    /* padding        : 5px 5px; */
    /* font-size      : medium; */
    /* font-weight    : bold; */
    margin: 0px 0px 5px 0px;
    user-select: none;

    span {
        justify-self: start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    button {
        margin-left: 5px;
        justify-self: end;
        min-width: 1.5rem;
        position: sticky;
        right: 0;
        z-index: 1;
        flex-shrink: 0;
    }
}

.expandable-group-header:hover {
    background-color: rgba(218, 218, 218, 0.52);
}

.feed-list {
    list-style: none;
    margin: 0;
    padding: 0px 0px;
}

.feed-date-list {
    list-style: none;
    margin: 0;
    padding: 0px 0px;
    height: 100%;
    overflow-y: scroll;
}

.feed-date-header {
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 1;
    user-select: none;

    padding: 5px 10px;
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
    border-bottom: 1px solid gray;
    margin: 0;
}

.feed-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* width: 100%; */
    /* padding: 10px 0px; */
    border-bottom: 1px solid rgb(193, 193, 193);
    background-color: rgb(249, 249, 249);
    font-size: 0.9rem;
    user-select: none;

    img {
        width: 16px;
        height: 16px;
        /* margin-left: 10px; */
    }
}

.feed-item-title {
    margin: 0 0 0 10px;
    font-weight: bold;
    padding: 10px 0px;
}

.feed-item-favorite-container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    align-self: stretch;
    /* background-color: red; */
    justify-content: center;
    align-content: center;
    padding: 0 10px 0 10px;
    /* padding: 8px; */
    /* margin: 0px; */
    /* text-align: center; */
}

/* .feed-item-favorite:hover {
    filter: drop-shadow(0px 0px 6px rgb(17, 176, 255));
} */

/* .feed-item-favorite {
    font-weight: bolder;
} */

.feed-item-favorite-container.favorite {
    visibility: visible;
}

.feed-item-options-container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    align-self: stretch;
    /* background-color: red; */
    justify-content: center;
    align-content: center;
    /* justify-self: end; */
    padding: 0 10px 0 10px;
    margin-left: auto;
}


.feed-item:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;

    .feed-item-favorite-container {
        visibility: visible;
    }

    .feed-item-options-container {
        visibility: visible;
    }
}

.feed-item.read {
    background-color: rgba(195, 195, 195, 0.335);

    span {
        font-weight: normal;
        /* font-style: italic; */
    }
}

.feed-item.read:hover {
    background-color: rgba(222, 222, 222, 0.335);
}

.feed-item.selected {
    background-color: rgba(0, 0, 0, 0.217);
    /* border: 1px dashed rgba(0, 0, 0, 0.832); */
    /* box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.25), inset -4px -4px 6px rgba(255, 255, 255, 0.5); */
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(255, 255, 255, 0.25);

}

.feed-item.selected:hover {
    background-color: rgba(0, 0, 0, 0.217);
}

@container (width < 200px) {
    .expandable-group-header {
        font-size      : small;
    }

    .all-feeds {
        font-size      : small;
    }

    /* .subscription-list-item {
        font-size: small;
    } */
}
